@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  background-color: #d9d9d9;
}

.appContainer {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.joinChatContainer {
  background-color: #fff;
  margin: auto;
  border: 2px solid #d9d9d9;
  padding: 0.875rem;
  width: 15rem;
}
.joinChatContainer .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.joinChatContainer .form input,
.joinChatContainer .form button {
  height: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #d9d9d9;
}

.joinChatContainer .form button {
  background-color: aquamarine;
  border: transparent;
}

.joinChatContainer .form button:hover {
  background-color: #00cc00;
  cursor: pointer;
}


.chatContainer {
  width: 18.75rem;
  height: 26.25rem;
  margin: auto;
}

.chatContainer p {
  margin: 0;
}
.chatContainer .header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chatContainer .header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chatContainer .header p span {
  font-size: 12px;
  color: green;
}

.chatContainer .body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chatContainer .body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatContainer .body .message-container::-webkit-scrollbar {
  display: none;
}
.chatContainer .body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chatContainer .body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chatContainer .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chatContainer .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chatContainer .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chatContainer .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
}

.hide {
  opacity: 0 !important;
}
